<div class="container-fluid">
        <div class="row">
            <!-- left side //-->
            <div class="col-lg-3">
                <div class="sidebar-left">
                    <%- partial("partial/_sidebar_left") %>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="content-feed">
                    <h1 class="page-header">Messages
                        <span class="pull-right">
                            <button class="btn btn-primary">New Message</button>
                        </span>
                    </h1>
                    <!-- message //-->
                    <div class="well">
                        <div class="media">
                            <div class="media-left">
                                <img src="img/avatar1.jpg" class="media-object avatar">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    <a href="#">Minh Lam</a>
                                </h4>
                                <p>Pellentesque habitant morbi tristique senectus et
                                        netus et malesuada fames ac turpis egestas. Vestibulum tortor
                                        quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec
                                        eu libero sit amet quam egestas semper. Aenean ultricies mi vitae
                                        est. Mauris placerat eleifend leo.</p>
                                <span class="pull-right">
                                    <button class="btn btn-primary"><i class="fa fa-reply"></i> Reply</button>
                                    <button class="btn btn-danger"><i class="fa fa-trash"></i> Delete</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="sidebar-right">
                    <%- partial("partial/_sidebar_right") %>
                </div>
            </div>
        </div>
    </div>